    <footer>
      <div>
        <a class="border-top text-center f5 mt-4 pt-4" href="mailto:sci.chenes.verts@gmail.com"><span>Contactez nous !</span></a>
      </div>
      <div>
        <a class="border-top text-center f5 mt-4 pt-4" href="https://www.pappers.fr/entreprise/les-chenes-verts-840968499" target="_blank"><span>Informations légales</span></a>
      </div>
      <div>
        <p class="border-top text-center f5 mt-4 pt-4">&copy; 2020 - {{ site.time | date: '%Y' }} <span>Les Chênes verts</span></p>
      </div>

    </footer>
  </body>
</html>

