<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | relative_url }}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/6.0.0/echarts.min.js" integrity="sha512-4/g9GAdOdTpUP2mKClpKsEzaK7FQNgMjq+No0rX8XZlfrCGtbi4r+T/p5fnacsEC3zIAmHKLJUL7sh3/yVA4OQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="preload" as="font" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" crossorigin>
  {% seo %}
</head>
<body{% if page.id %} id="{{ page.id }}"{% endif %} class="{{ page.layout }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/modern-normalize@v2.0.0/modern-normalize.min.css" rel="stylesheet">
  <div class="page-header pt-4 pb-5">
    <div class="container-lg">
      <div class="text-center">
        <a href="{{ "/" | relative_url}}"><img class="logo" src="{{ "/assets/img/logo.png" | relative_url}}" alt="La Vauzelle"></a>
      </div>
      <div class="bigger">La Vauzelle</div>
      <div>
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="badge bg-info">Histoire</span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                    <li><a class="dropdown-item" href="{{ "/history_be_2020" | relative_url}}">Avant 2020</a></li>
                    <li><a class="dropdown-item" href="{{ "/history_af_2020" | relative_url}}">Depuis 2020</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{{ "/buildings" | relative_url}}">
                    <span class="badge bg-secondary">Le site</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{{ "/activities" | relative_url}}">
                    <span class="badge bg-secondary">Act</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{{ "/projects" | relative_url}}">
                    <span class="badge bg-secondary">Projets</span>
                  </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="badge bg-secondary">Gouvernance</span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{{ "/sci" | relative_url}}">Qui sommes nous</a></li>
                    <li><a class="dropdown-item" href="{{ "/politic" | relative_url}}">Politique</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
    <!-- .full-width here gets closed on support-page.html and home.html layouts -->
