<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | relative_url }}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <link rel="preload" as="font" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" crossorigin>
  {% seo %}
</head>
<body{% if page.id %} id="{{ page.id }}"{% endif %} class="{{ page.layout }}">
  <div class="page-header pt-4 pb-5">
    <div class="container-lg">
      <div class="text-center">
        <a href="{{ "/" | relative_url}}"><img class="logo" src="{{ "/assets/img/logo.png" | relative_url}}" alt="La Vauzelle"></a>
      </div>
      <div class="bigger">La Vauzelle</div>
      <div>
        <ul>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="{{ "/history" | relative_url}}" class="text-white">Histoire</a></li>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="{{ "/buildings" | relative_url}}" class="text-white">Le site</a></li>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="{{ "/activities/" | relative_url}}" class="text-white">Activités</a></li>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="{{ "/projects" | relative_url}}" class="text-white">Projets</a></li>
        </ul>
      </div>
    </div>
  </div>
    <!-- .full-width here gets closed on support-page.html and home.html layouts -->
